<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a href="http://library.onaft.edu.ua/elc/" target="_blank" class="link">Електроний каталог</a>
  <a href="//card-file.onaft.edu.ua/jspui/?locale=uk" target="_blank" class="link">Електроний архів(репозитарій)</a>
  <div class="justify-content-end div_navbar">
  <ul class="navbar-nav dropdown_language mr-auto">
  <li class="nav-item dropdown ">
    <a class="nav-link dropdown-toggle" href="#" id="language" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fas fa-globe-americas"></i>
      Українська
    </a>
    <div class="dropdown-menu" aria-labelledby="language">
      <a class="dropdown-item" href="#">English</a>
      <a class="dropdown-item" href="#">Русский</a>
    </div>
  </li>
  </ul>
  </div>
</nav>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#"><img src="../../assets/img/logo.png" width="96px" height="66px"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarToggler">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="resource" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Ресурси
        </a>
        <div class="dropdown-menu" aria-labelledby="resource">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="books" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Надходження
        </a>
        <div class="dropdown-menu" aria-labelledby="books">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Фотогалерея</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="view" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Виставки
        </a>
        <div class="dropdown-menu" aria-labelledby="view">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
    </form>
  </div>
</nav>
