<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a href="http://library.onaft.edu.ua/elc/" target="_blank" class="link">Електроний каталог</a>
  <a href="//card-file.onaft.edu.ua/jspui/?locale=uk" target="_blank" class="link">Електроний архів(репозитарій)</a>
  <div class="justify-content-end div_navbar">
  <ul class="navbar-nav dropdown_language mr-auto">
  <li class="nav-item dropdown ">
    <a class="nav-link dropdown-toggle" href="#" id="language" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fas fa-globe-americas"></i>
      Українська
    </a>
    <div class="dropdown-menu" aria-labelledby="language">
      <a class="dropdown-item" href="#">English</a>
      <a class="dropdown-item" href="#">Русский</a>
    </div>
  </li>
  </ul>
  </div>
</nav>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#"><img src="../../assets/img/logo.png" width="96px" height="66px"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarToggler">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="resource" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Ресурси
        </a>
        <div class="dropdown-menu"  aria-labelledby="resource" >
          <a class="dropdown-header submenu" id="elec-doc" style="padding-top: 0.5rem;" href="#">Фонд електроних документів</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" style="padding-top: 0.55rem;" href="http://library.onaft.edu.ua/elc_new/page_lib.php" target="_blank">Автореферат</a>
            <a class="dropdown-item" href="http://library.onaft.edu.ua/elc_new/page_lib.php" target="_blank">Методичні посібники (в локальній мережі ОНАХТ)</a>
            <a class="dropdown-item" href="" target="_blank">Патенти</a>
            <a class="dropdown-item" href="" target="_blank">Ретроспектива праць ОНАХТ</a>
            <a class="dropdown-item" href="" target="_blank">Словники та довідники</a>
            <a class="dropdown-item" style="padding-bottom: 0.55rem;" href="http://library.onaft.edu.ua/elc_new/page_lib.php" target="_blank">Статті періодик</a>
          </div>
          <!--<div class="dropdown-divider"></div>-->
          <a class="dropdown-header submenu" style="padding-top: 0.5rem;" href="#">ДСТУ/ГОСТ</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" style="padding-top: 0.55rem;" href="#">Правила складання бібліографічного опису</a>
            <a class="dropdown-item" href="../../assets/pdf/DSTY-GOST/Bibl_opis_onovl.pdf" target="_blank">Приклади оформлення бібліографічного опису</a>
            <a class="dropdown-item" href="#" target="_blank">Правила складання списку бібліографічних посилань</a>
            <a class="dropdown-item" href="#" target="_blank">Приклади оформлення списку бібліографічних посилань<br> в наукових виданнях</a>
            <a class="dropdown-item" href="#" target="_blank">ДСТУ ГОСТ</a>
            <a class="dropdown-item" style="padding-bottom: 0.55rem;" href="http://www.library.univ.kiev.ua/ukr/about/dstu.html" target="_blank">Основні стандарти </a>
          </div>

          <a class="dropdown-header" href="http://library.onaft.edu.ua/plus/Mizhnar_styli_posylannya.pdf">Міжнародні стилі цитування<br> та посилання</a>
          <a class="dropdown-header" href="http://library.onaft.edu.ua/plus/Mizhnar_styli_posylannya.pdf">Порядок замовлення літератури</a>

          <a class="dropdown-header submenu" style="padding-top: 0.5rem;" href="#">Бібліотека</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" style="padding-top: 0.55rem;" href="#">Положенна про НТБ ОНАХТ</a>
            <a class="dropdown-item" href="../../assets/pdf/DSTY-GOST/Bibl_opis_onovl.pdf" target="_blank">Правила користування</a>
            <a class="dropdown-item" href="#" target="_blank">Звіт про роботу за 2017 рік</a>
            <a class="dropdown-item" style="padding-bottom: 0.55rem;" href="#" target="_blank">Правила користування НТБ</a>
          </div>

          <a class="dropdown-header submenu" style="padding-top: 0.5rem; padding-bottom: 0.5rem;" href="#">Законодавча база</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" style="padding-top: 0.55rem;" href="https://zakon1.rada.gov.ua/laws" target="_blank">Законодавство України</a>
            <a class="dropdown-item" href="http://www.library.univ.kiev.ua/ukr/for_lib/legal-pop.php3" target="_blank">  Нормативно-правова база<br> діяльності бібліотек ВНЗ (популяр.)</a>
            <a class="dropdown-item" href="http://www.library.univ.kiev.ua/ukr/for_lib/legal-2018.php3" target="_blank">  Нормативно-правова база<br> діяльності бібліотек ВНЗ (2018 р.)</a>
            <a class="dropdown-item" style="padding-bottom: 0.55rem;" href="http://www.library.univ.kiev.ua/ukr/about/law.php3" target="_blank">Перелік законодавчих<br>  та нормативних документів </a>
          </div>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="books" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Надходження
        </a>
        <div class="dropdown-menu" aria-labelledby="books">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Фотогалерея</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="view" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Виставки
        </a>
        <div class="dropdown-menu" aria-labelledby="view">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
    </form>
  </div>
</nav>
