<div class="container-fluid footer">
    <div class="col-md-3 col-lg-3 col-sm-12 onaftlib">
        <h3 i18n="@@label-footer"><img src="assets/img/logo.png" height="42px" width="64px"> НТБ ОНАХТ</h3>
        <p class="block pt-2" style="font-size: 13px;"> Created by Anastasiia Ivanova </p>
        <p class="block pb-2" style="font-size: 13px;"> &#169;&nbsp;ONAFTLibrary, 2019. All rights reserved. </p>
        <div class="container-fluid main-logo">
            <a href="https://www.facebook.com/libONAFT" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <a href="https://twitter.com/libonaft" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="https://www.instagram.com/_onaft_/" target="_blank"><i class="fab fa-instagram"></i></a>
        </div>
    </div>

    <div class="col-md-3 col-lg-3 col-sm-12">
        <h5 i18n="@@contact-footer">Контактна інформація</h5>
        <p i18n="@@contact-footer-description">
            Україна, 65039,<br>
            м. Одеса, вул. Канатна, 112<br>
            <i class="fas fa-phone" [ngStyle]="{'font-size': '14px'}"></i> +38(048)712‐41‐88<br>
            +38(048)712-41‐52<br>
            <i class="fas fa-at" [ngStyle]="{'font-size': '14px'}"></i> lib.onaft@gmail.com,<br>
            onaft.library@gmail.com
        </p>
    </div>
    <div class="col-md-3 col-lg-3 col-sm-12">
        <h5 i18n="@@time-work-footer">Часи роботи:</h5>
        <p i18n="@@time-work-description-footer">
            пн.-пт.:<br>
            абонементи 9:00 - 18:00<br>
            читальні зали 9:00 - 18:00<br>
            сб.:<br>
            читальні зали 9:00 - 15:00
        </p>
    </div>

    <div class="col-md-3 col-lg-3 col-sm-12">
        <h5 i18n="@@helpful-references-footer">Корисні посилання</h5>
        <p i18n="@@science-data-base-footer" class="block"><a href="https://kci.onaft.edu.ua/uk/pages/indexing" target="_blank">Наукові бази</a></p>
        <p class="block"><a href="https://4ref.onaft.edu.ua" target="_blank">ONAFT4ref</a></p>
        <p class="block"><a href="https://need2know.onaft.edu.ua/" target="_blank">Need2Know</a></p>
        <p class="block"><a
                href="http://apps.webofknowledge.com/WOS_GeneralSearch_input.do?product=WOS&search_mode=GeneralSearch&SID=E4OXmTatmRkILpjRyX6&preferencesSaved="
                target="_blank">Web of Science</a></p>
        <p class="block"><a href="https://www.scopus.com/search/form.uri?display=basic" target="_blank">Scopus</a></p>
    </div>
</div>