.arrow-up {
    opacity:0;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    transition: 300ms;
    width: 100px;
    height: 50px;
    color: #555555;
    z-index: 2000;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
    position: absolute;
    right: 0.75em;
    bottom: 1.75em;
    font-size: 16px;
    font-weight: 600;
}
.arrow-up i {
    font-size: 28px;
}
.arrow-up:hover {
    transform: scale(1.15);
    color: #d78737;
}
.arrow-up {
    opacity:0;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    transition: 300ms;
    width: 100px;
    height: 50px;
    color: #212529;
    border-radius: 100%;
    z-index: 2000;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
    position: absolute;
    right: 0.75em;
    bottom: 1.75em;
    font-size: 16px;
    font-weight: 600;
}
.arrow-up i {
    font-size: 28px;
}
.arrow-up:hover {
    transform: scale(1.15);
    color:#d7702b;
}
.main_content {
    background: #fff;
    color: #212529;
    padding: 1.5em 1.75em;
    box-sizing: border-box;
    min-height: calc(100vh - 360px);
}
h1 {
    font-family: montserrat,sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

span {
    font-size: 28px;
    color:#c6c5c5  !important;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    padding: 0.5em 0;
}
.title {
    margin-bottom: 2.5em;
}
.nav-letter{
    font-size: 22px;
    color: #9f9fa5  !important;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
    padding-right: 0.35em;
}
.nav-letter:hover {
    color: #d78737 !important;
}
.fa-search {
    font-size: 20px;
    color: #d78737 !important;
    margin-bottom: 0.5em;
}
.letter_card {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    margin: 0 auto;
    clear: both;
}
.card {
    flex: 0 1 30%;
    transition: 600ms;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    /*width: 350px;*/
    height: 300px;
    overflow: hidden;
    padding: 0 0.75em;
    border-radius: 9px;
    box-sizing: border-box;
    margin: 0 1.5%;
    cursor: default;
    border-bottom: 5px solid #fff;
    box-shadow: 0 2px 16px 0 rgba(75,81,91,.14);
}
.top-card {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    padding: 1.5em 0 !important;
    border-bottom: 1px solid #c6c5c5;
    width: 100%;

}
.top-text {
    flex: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: center;
}
.bottom-txt {
    font-size: 15px;
    padding: 0.5em 0;
    height: 150px;
    box-sizing: border-box;
    overflow: hidden;
}
.vertical {
    display: flex;
    flex-flow: row;
    align-items: baseline;
    justify-content: start;
    background: rgba(255, 255, 255, 0.5);
}

.vertical a,
.vertical i{
    padding: 0 0.75em 0 0;
}
.contents {
    display: contents;
}

.bottom-nav {
    font-size: 14px;
    background: none;
    border: 0;
    cursor: pointer;
}
.lts-1px {
    letter-spacing: 1px;
}

.lts-2px {
    letter-spacing: 2px;
}

.img_content {
    flex: 0 0 90px;
    height: 90px;
    border-radius: 100%;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.small {
    font-size: 0.75rem;
}

.styled-link {
    text-decoration: none;
    outline: none;
    color: #d78737;
    transition: all 0.25s ease-in;
}

.styled-link:hover,
.styled-link:focus,
.styled-link:active {
    color: #d78737;
}

.shadow-1 {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
}

.blue-hover {
    transition: 0.25s ease-in;
    border-bottom: 5px solid transparent;
}

.blue-hover:hover {
    transform: translateY(-2px);
    border: none;
    border-bottom: 5px solid #d78737;
}

h5{
    margin-bottom: 0.15rem;
    font-size: 1.15rem;
    padding: 0 0.5em;
}
.birthday {
    color: #d78737;
    font-size: 1rem;
    margin-bottom: 0.25rem;
    padding: 0 0.15em;
}
.bio {
    display: none;
}
.breadcrumb {
    font-family: montserrat,sans-serif;
}
.breadcrumb-bio {
    display: none;
}
.breadcrumb-bio button {
    background: none;
    border: none;
    color: #d78737;
    cursor: pointer;
    outline: none !important;
}
.breadcrumb-bio button:hover {
    color: #d7702b;
}
/*Bio info*/
.bio{
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}
.bio-profile {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}
.bio-img {
    flex: 0 0 200px;
    height: 200px;
    border-radius: 100%;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.bio-name {
    flex: 1;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 0 0.5em;
    text-align: center;
}
.bio-name span{
    font-weight: 500;
    color: #555555 !important;
}
h2 {
    font-size: 2.25rem;
    margin-bottom: 1.75rem;
}

.bio-name h2 {
    font-size: 2.25rem;
    letter-spacing: 0.05rem;
    margin-bottom: 0;
}
.line {
    margin: 2.75em 0;
    width: 100%;
    height: 1px;
    background: #9f9fa5;
}
.bio-txt,
.works-txt  {
    text-align: justify;
}
/**Search*/
form {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    float: right;
}
input {
    width: 85%;
    height: 42px;
    padding-left: 15px;
    border-radius: 42px;
    border: 2px solid #313534;
    background: none;
    outline: none;
    position: relative;
    transition: .3s linear;
}
input:focus {
    border-color: #d7702b;
}
.search {
    width: 42px;
    height: 42px;
    background: none;
    border: none;
    position: absolute;
    top: auto;
    right: 2.15em;
}
.search:before{
    content: "\f002";
    font-family: FontAwesome, sans-serif;
    color: #324b4e;
}
@media screen and (min-width: 1800px) {
    .display-4 {
        font-size: 4rem;
    }
    h1 {
        font-size: 4rem;
    }
    .card {
        height: 325px;
    }
    .vertical a {
        font-size: 26px;
    }
    .fa-search {
        font-size: 24px;
    }
    .img_content {
        flex: 0 0 105px;
        height: 105px;
    }
    .top-card {
        padding: 1.5em !important;
    }
    span {
        font-size: 32px;
    }
    h5 {
        font-size: 1.5rem;
    }
    .bio-img {
        flex: 0 0 230px;
        height: 230px;
    }
    .bottom-txt {
        padding-top: 1.5em;
        font-size: 18px;
    }
    .bottom-nav {
        font-size: 18px;
    }
    .bio-profile {
        text-align: center;
    }
    .bio p{
        font-size: 20px;
    }
    .bio-txt,
    .works-txt  {
        text-align: justify;
        font-size: 20px;
    }
}
@media screen and (max-width: 767px) {
    .col-12 {
        padding: 0 5px !important;
    }
    .main_content{
        padding: 1.5em 0.5em;
    }
    .vertical {
        display: none;
    }
    .row {
        flex-flow: column;
        margin: 0 !important;
    }
    .letter_card {
        padding: 0 !important;
    }
    h1 {
        font-size: 1.75em;
        margin-bottom: 0;
    }
    .title, h4 {
        font-size: 18px !important;
    }

    p {
        font-size: 14px;
    }
    .nav-link {
        color: white;
        padding: 1em 0.25em !important;
    }

    .breadcrumb {
        padding-left: 0 !important;
        font-size: 16px;
    }
    .bio-profile {
        flex-flow: column wrap;
    }
    .bio-img {
        flex: 1;
        width: 150px;
        height: 150px;
    }
    .bio-name h2 {
        margin-top: 0.5em;
        font-size: 1.5rem;
    }
    .bio p {
        font-size: 16px;
    }
    .bio span {
        font-size: 18px;
    }
}