<div class="main_content">
    <nav aria-label="breadcrumb" class=" breadcrumb-list">
        <ol class="breadcrumb">
            <li i18n="@@main-breadcrumb" class="breadcrumb-item"><a routerLink="/">Головна</a></li>
            <li i18n="@@dstu-breadcrumb" class="breadcrumb-item active" aria-current="page">ДСТУ ГОСТ</li>
        </ol>
    </nav>
    <h1 class="text-center">ГОСТи та ДСТУ для оформлення<br> дипломних (курсових) проектів та
        дисертацій</h1>
    <div class="container-fluid">
        <div class="block">
            <h2 class="text-center">ГОСТи та ДСТУ загального використання</h2>
            <p>ДСТУ ГОСТ 2.001:2006 Єдина система конструкторської документації. Загальні положення (ГОСТ 2.001-93, IDT)
                (<a href="assets/pdf/DSTY-GOST/2.001-93.pdf" target="_blank">Переглянути</a>)
            </p>
            <p>
                ГОСТ 2.002-72 ЕСКД. Требования к моделям, макетам и темплетам, применяемым при проектировании (Чинний)
                (<a href="assets/pdf/DSTY-GOST/2.002-72.pdf" target="_blank">Переглянути</a>)
            </p>
            <p>
                ДСТУ Б А.2.4-35:2008 Система проектної документації для будівництва. Нормоконтроль проектної
                документації
                (<a href="assets/pdf/DSTY-GOST/a_2_4-35-2008.doc" target="_blank">Переглянути</a>)
            </p>
            <p>
                ДСТУ ГОСТ 2.052:2006 Єдина система конструкторської документації. Електронна модель виробу. Загальні
                положення (ГОСТ 2.052-2006, IDT)
                (<a href="assets/pdf/DSTY-GOST/2.052-2006_ESKD.pdf" target="_blank">Переглянути</a>)
            </p>
            <p>
                ДСТУ ГОСТ 2.053:2006 Єдина система конструкторської документації. Електронна структура виробу. Загальні
                положення (ГОСТ 2.053-2006, IDT)
                (<a href="assets/pdf/DSTY-GOST/2.053-2006.pdf" target="_blank">Переглянути</a>)
            </p>
            <p>
                ГОСТ 2.109-73 ЕСКД. Основные требования к чертежам (Чинний)
                (<a href="assets/pdf/DSTY-GOST/2.109-73.pdf" target="_blank">Переглянути</a>)
            </p>
            <p>
                ГОСТ 2.114-95 ЕСКД. Технические условия (Чинний)
                (<a href="assets/pdf/DSTY-GOST/2.114-95.pdf" target="_blank">Переглянути</a>)
            </p>
            <p>
                ГОСТ 2.601:2006 ЄСКД. Експлуатаційні документи
                (<a href="assets/pdf/DSTY-GOST/2.601-2006.pdf" target="_blank">Переглянути</a>)
            </p>
            <p>
                ГОСТ 2.610-2006 ЕСКД. Правила выполнения эксплуатационных документов (Чинний)
                (<a href="assets/pdf/DSTY-GOST/2.610-2006_ESCD.pdf" target="_blank">Переглянути</a>)
            </p>
        </div>
        <div class="block">
            <h2 class="text-center">ГОСТи та ДСТУ, повязані з оформленням розрахунково-пояснювальної записки</h2>
            <p>
                ГОСТ 2.004-88 ЕСКД. Общие требования к выполнению конструкторских и технологических документов на
                печатающих и графических устройствах вывода ЭВМ (Чинний)
                (<a href="assets/pdf/DSTY-GOST/2.004-88.pdf" target="_blank">Переглянути</a>)
            </p>
            <p>
                ДСТУ ГОСТ 2.051:2006 Єдина система конструкторської документації. Електронні документи. Загальні
                положення (ГОСТ 2.051-2006, IDT)
                (<a href="assets/pdf/DSTY-GOST/2.051.pdf" target="_blank">Переглянути</a>)
            </p>
            <p>
                ГОСТ 2.102-2013 ЕСКД. Виды и комплектность конструкторских документов
                (<a href="../../assets/pdf/DSTY-GOST/2.102-2013.pdf" target="_blank">Переглянути</a>)
            </p>
            <p>
                ГОСТ 2.103-68 Единая система конструкторской документации (ЕСКД). Стадии разработки
                (<a href="../../assets/pdf/DSTY-GOST/2.103-68.pdf" target="_blank">Переглянути</a>)
            </p>
            <p>
                ДСТУ ГОСТ 2.104:2006 Єдина система конструкторської документації. Основні написи (ГОСТ 2.104-2006, IDT)
                (<a href="../../assets/pdf/DSTY-GOST/2.104_2006.pdf" target="_blank">Переглянути</a>)
            </p>
            <p>
                ГОСТ 2.105-95 ЕСКД. Общие требования к текстовым документам
                (<a href="../../assets/pdf/DSTY-GOST/2.105-95.pdf" target="_blank">Переглянути</a>)
            </p>
            <p>
                ГОСТ 2.113-75 ЕСКД. Групповые и базовые конструкторские документы
                (<a href="../../assets/pdf/DSTY-GOST/2.113-75.pdf" target="_blank">Переглянути</a>)
            </p>
            <p>
                ГОСТ 15.016-2016 ЕСКД. Система разработки и постановки продукции на производство. Техническое задание.
                Требования к содержанию и оформлению
                (<a href="../../assets/pdf/DSTY-GOST/15.016-2016.pdf" target="_blank">Переглянути</a>)
            </p>
        </div>
        <div class="block">
            <h2 class="text-center">ГОСТи та ДСТУ, повязані з оформленням графічної частини проекту</h2>
            <p>
                ГОСТ 2.109-73 ЕСКД. Основные требования к чертежам
                (<a href="../../assets/pdf/DSTY-GOST/2.109-73.pdf" target="_blank">Переглянути</a>)
            </p>
            <p>
                ГОСТ 2.119-2013 ЕСКД. Эскизный проект
                (<a href="../../assets/pdf/DSTY-GOST/2.119-2013.pdf" target="_blank">Переглянути</a>)
            </p>
            <p>
                ГОСТ 2.120-2013 ЕСКД. Технический проект
                (<a href="../../assets/pdf/DSTY-GOST/2.120-2013.pdf" target="_blank">Переглянути</a>)
            </p>
            <p>
                ГОСТ 2.125-2008 ЕСКД. Правила выполнения эскизных конструкторских документов. Общие положения
                (<a href="../../assets/pdf/DSTY-GOST/2.125-2008.pdf" target="_blank">Переглянути</a>)
            </p>
            <p>
                ДСТУ Б А.2.4-2-95 Система проектної документації для будівництва. Умовні графічні позначення і
                зображення елементів генеральних планів та споруд транспорту (ГОСТ 21.204-93)
                (<a href="../../assets/pdf/DSTY-GOST/B%20A.2.4-2-95.doc" target="_blank">Переглянути</a>)
            </p>
            <p>
                ДСТУ Б А.2.4-3-95 Система проектної документації для будівництва. Правила виконання робочої документації автоматизації технологічних процесів (ГОСТ 21.408-93)
                (<a href="../../assets/pdf/DSTY-GOST/A.2.4-3-95.doc" target="_blank">Переглянути</a>)
            </p>
            <p>
                ДСТУ Б А.2.4-4:2009 Система проектної документації для будівництва. Основні вимоги до проектної та робочої документації
                (<a href="../../assets/pdf/DSTY-GOST/A.2.4-4_2009.docx" target="_blank">Переглянути</a>)
            </p>
            <p>
                ДСТУ Б А.2.4-6-95 Система проектної документації для будівництва. Правила виконання робочої документації генеральних планів підприємств, споруд та житлово-цивільних об'єктів (ГОСТ 21.508-93)
                (<a href="../../assets/pdf/DSTY-GOST/A.2.4-6-95.doc" target="_blank">Переглянути</a>)
            </p>
            <p>
                ДСТУ Б А.2.4-7:2009 Система проектної документації для будівництва. Правила виконання архітектурно-будівельних робочих креслень
                (<a href="../../assets/pdf/DSTY-GOST/A.2.4-7_2009.docx" target="_blank">Переглянути</a>)
            </p>
            <p>
                ДСТУ Б А.2.4-10:2009 Система проектної документації для будівництва. Правила виконання специфікації обладнання, виробів і матеріалів
                (<a href="../../assets/pdf/DSTY-GOST/A.2.4-10.2009.doc" target="_blank">Переглянути</a>)
            </p>
        </div>
        <div class="block">
            <h2 class="text-center">Загальні правила виконання креслень</h2>
            <p>
                ГОСТ 2.301-68 ЕСКД. Форматы
                (<a href="../../assets/pdf/DSTY-GOST/2.301-1968.pdf" target="_blank">Переглянути</a>)
            </p>
            <p>
                ГОСТ 2.302-68 ЕСКД. Масштабы
                (<a href="../../assets/pdf/DSTY-GOST/2.302-68.pdf" target="_blank">Переглянути</a>)
            </p>
            <p>
                ГОСТ 2.303-68 ЕСКД. Линии
                (<a href="../../assets/pdf/DSTY-GOST/2.303-68.pdf" target="_blank">Переглянути</a>)
            </p>
            <p>
                ГОСТ 2.305-2008 ЕСКД. Изображения - виды, разрезы, сечения
                (<a href="../../assets/pdf/DSTY-GOST/2.305-2008.pdf" target="_blank">Переглянути</a>)
            </p>
            <p>
                ГОСТ 2.306-68 ЕСКД. Обозначения графических материалов и правила их нанесения на чертежах
                (<a href="../../assets/pdf/DSTY-GOST/2.306-1968.pdf" target="_blank">Переглянути</a>)
            </p>
            <p>
                ДСТУ ГОСТ 2.307:2013 ЄСКД. Нанесення розмірів і граничних відхилів (ГОСТ 2.307-2011, ІDT)
                (<a href="../../assets/pdf/DSTY-GOST/2.307-68.pdf" target="_blank">Переглянути</a>)
            </p>
            <p>
                ГОСТ 2.310-68 ЕСКД. Нанесение на чертежах обозначений покрытий, термической и других видов обработки
                (<a href="../../assets/pdf/DSTY-GOST/2.310-68.pdf" target="_blank">Переглянути</a>)
            </p>
            <p>
                ГОСТ 2.311-68 ЕСКД. Изображение резьбы
                (<a href="../../assets/pdf/DSTY-GOST/2.311-68.pdf" target="_blank">Переглянути</a>)
            </p>
            <p>
                ГОСТ 2.312-72 ЕСКД. Условные изображения и обозначения швов сварных соединений
                (<a href="../../assets/pdf/DSTY-GOST/2.312-72_ESKD.pdf" target="_blank">Переглянути</a>)
            </p>
            <p>
                ГОСТ 2.313-82 ЕСКД. Условные изображения и обозначения неразъёмных соединений
                (<a href="../../assets/pdf/DSTY-GOST/2.313-82_ESKD.pdf" target="_blank">Переглянути</a>)
            </p>
            <p>
                ГОСТ 2.314-68 ЕСКД. Указания на чертежах о маркировании и клеймении изделий
                (<a href="../../assets/pdf/DSTY-GOST/2.314-68.pdf" target="_blank">Переглянути</a>)
            </p>
            <p>
                ГОСТ 2.315-68 ЕСКД. Изображения упрощённые и условные крепёжных деталей
                (<a href="../../assets/pdf/DSTY-GOST/2.315-68_ESKD.pdf" target="_blank">Переглянути</a>)
            </p>
            <p>
                ГОСТ 2.318-81 ЕСКД. Правила упрощённого нанесения размеров отверстий
                (<a href="../../assets/pdf/DSTY-GOST/2.318-81_ESKD.pdf" target="_blank">Переглянути</a>)
            </p>
            <p>
                ГОСТ 2.320-82 ЕСКД. Правила нанесения размеров, допусков и посадок конусов
                (<a href="../../assets/pdf/DSTY-GOST/2.320-82_ESKD.pdf" target="_blank">Переглянути</a>)
            </p>
            <p>
                ГОСТ 2.321-84 ЕСКД. Обозначения буквенные
                (<a href="../../assets/pdf/DSTY-GOST/2.321-84_ESKD.pdf" target="_blank">Переглянути</a>)
            </p>
            <p>
                ДСТУ ISO 128-1:2005 (ISO 128-1:2003, IDТ) Національний стандарт України. Кресленики технічні. Загальні принципи оформлення. Частина 1. Передмова та покажчик понять стандартів ISO серії 128
                (<a href="../../assets/pdf/DSTY-GOST/dstu_iso_128_1_2005.pdf" target="_blank">Переглянути</a>)
            </p>
            <p>
                ДСТУ ISO 128-21:2005 (ISO 128-21:1997, IDТ) Національний стандарт України. Кресленики технічні. Загальні принципи оформлення Частина 21. Лінії, виконані автоматизованим проектуванням
                (<a href="../../assets/pdf/DSTY-GOST/dstu_iso_128_1_2005.pdf" target="_blank">Переглянути</a>)
            </p>
            <p>
                ДСТУ ISO 128-30:2005 (ISO 128-30:2001, IDТ) Національний стандарт України. Кресленики технічні. Загальні принципи оформлення Частина 30. Основні положення про види
                (<a href="../../assets/pdf/DSTY-GOST/dstu_iso_128_30_2005.pdf" target="_blank">Переглянути</a>)
            </p>
            <p>
                ДСТУ ISO 128-40:2005 (ISO 128-40:2001, IDТ) Національний стандарт України. Кресленики технічні. Загальні принципи оформлення. Загальні принципи оформлення. Частина 40. Основні положення про розрізи та перерізи
                (<a href="../../assets/pdf/DSTY-GOST/dstu_iso_128_40_2005.pdf" target="_blank">Переглянути</a>)
            </p>
            <p>
                ДСТУ ISO 129-1:2007 (ISO 129-1:2004, IDТ) Національний стандарт України. Кресленики технічні. Проставлення розмірів і допусків. Частина 1. Загальні принципи
                (<a href="../../assets/pdf/DSTY-GOST/dstu_iso_129_1_2007.pdf" target="_blank">Переглянути</a>)
            </p>
            <p>
                ДСТУ ISO 3098-2:2007 (ISO 3098-2:2000, IDТ) Національний стандарт України. Документація на технічні вироби. Шрифти. Частина 2. Латинська абетка, цифри і знаки
                (<a href="../../assets/pdf/DSTY-GOST/dstu_iso_3098_2_2007.pdf" target="_blank">Переглянути</a>)
            </p>
            <p>
                ДСТУ ISO 3098-3:2007 (ISO 3098-3:2000, IDТ) Національний стандарт України. Документація на технічні вироби. Шрифти. Частина 3. Грецька абетка
                (<a href="../../assets/pdf/DSTY-GOST/dstu_iso_3098_3_2007.pdf" target="_blank">Переглянути</a>)
            </p>
            <p>
                ДСТУ ISO 3098-4:2007 (ISO 3098-4:2000, IDТ) Національний стандарт України. Документація на технічні вироби. Шрифти. Частина 4. Діакритичні і окремі знаки латинської абетки
                (<a href="../../assets/pdf/DSTY-GOST/dstu_iso_3098_4_2007.pdf" target="_blank">Переглянути</a>)
            </p>
            <p>
                ДСТУ ISO 3098-5:2007 (ISO 3098-5:1997, IDТ) Національний стандарт України. Документація на технічні вироби. Шрифти. Частина 5. Написання латинської абетки, цифр і знаків засобами автоматизованого проектування
                (<a href="../../assets/pdf/DSTY-GOST/dstu_iso_3098_5_2007.pdf" target="_blank">Переглянути</a>)
            </p>
            <p>
                ДСТУ ISO 3098-6:2007 (ISO 3098-6:2000, IDТ) Національний стандарт України. Документація на технічні вироби. Шрифти. Частина 6. Кирилична абетка
                (<a href="../../assets/pdf/DSTY-GOST/dstu_iso_3098_6_2007.pdf" target="_blank">Переглянути</a>)
            </p>
            <p>
                ДСТУ ISO 5455:2005 (ISO 5455:1979, IDТ) Національний стандарт України. Кресленики технічні. Масштаби
                (<a href="../../assets/pdf/DSTY-GOST/dstu_iso_5455_2005.pdf" target="_blank">Переглянути</a>)
            </p>
            <p>
                ДСТУ ISO 5457:2006 (ISO 5457:1999, IDТ) Національний стандарт України. Документація технічна на вироби. Кресленики. Розміри та формати
                (<a href="../../assets/pdf/DSTY-GOST/dstu_iso_5457_2006.pdf" target="_blank">Переглянути</a>)
            </p>
        </div>
        <div class="block">
            <h2 class="text-center">Позначення умовні графічні у схемах</h2>
            <p>
                ГОСТ 2.701-2008 ЕСКД. Схемы. Виды и типы. Общие требования к выполнению
                (<a href="../../assets/pdf/DSTY-GOST/2.701-2008.pdf" target="_blank">Переглянути</a>)
            </p>
            <p>
                ДСТУ ГОСТ 2.702:2013 ЄСКД. Правила виконання електричних схем (ГОСТ 2.702-2011, IDT)
                (<a href="../../assets/pdf/DSTY-GOST/2.702-2011.pdf" target="_blank">Переглянути</a>)
            </p>
            <p>
                ГОСТ 2.721-74 ЕСКД. Обозначения условные графические в схемах. Обозначения общего применения
                (<a href="../../assets/pdf/DSTY-GOST/2.721-74.pdf" target="_blank">Переглянути</a>)
            </p>
            <p>
                ГОСТ 2.747-68 ЕСКД. Обозначения условные графические в схемах. Размеры условных графических обозначений
                (<a href="../../assets/pdf/DSTY-GOST/2.747-68.pdf" target="_blank">Переглянути</a>)
            </p>
            <p>
                ГОСТ 2.781-96 ЕСКД. Обозначения условные графические. Аппараты гидравлические и пневматические, устройства управления и приборы контрольно-измерительные
                (<a href="../../assets/pdf/DSTY-GOST/2.781-96_ESKD.pdf" target="_blank">Переглянути</a>)
            </p>
            <p>
                ГОСТ 2.788-74 ЕСКД. Обозначения условные графические. Аппараты выпарные
                (<a href="../../assets/pdf/DSTY-GOST/2.788-74.pdf" target="_blank">Переглянути</a>)
            </p>
            <p>
                ГОСТ 2.789-74 ЕСКД. Обозначения условные графические. Аппараты теплообменные
                (<a href="../../assets/pdf/DSTY-GOST/2.789-74.pdf" target="_blank">Переглянути</a>)
            </p>
            <p>
                ГОСТ 2.790-74 ЕСКД. Обозначения условные графические. Аппараты колонные
                (<a href="../../assets/pdf/DSTY-GOST/2.790-74.pdf" target="_blank">Переглянути</a>)
            </p>
            <p>
                ГОСТ 2.791-74 ЕСКД. Обозначения условные графические. Отстойники и фильтры
                (<a href="../../assets/pdf/DSTY-GOST/2.791-74.pdf" target="_blank">Переглянути</a>)
            </p>
            <p>
                ГОСТ 2.792-74 ЕСКД. Обозначения условные графические. Аппараты сушильные
                (<a href="../../assets/pdf/DSTY-GOST/2.792-74.pdf" target="_blank">Переглянути</a>)
            </p>
            <p>
                ГОСТ 2.793-79 ЕСКД. Обозначения условные графические. Элементы и устройства машин и аппаратов химических производств. Общие обозначения
                (<a href="../../assets/pdf/DSTY-GOST/2.793-79.pdf" target="_blank">Переглянути</a>)
            </p>
            <p>
                ГОСТ 2.794-79 ЕСКД. Обозначения условные графические. Устройства питающие и дозирующие
                (<a href="../../assets/pdf/DSTY-GOST/2.794-79.pdf" target="_blank">Переглянути</a>)
            </p>
            <p>
                ГОСТ 2.795-80 ЕСКД. Обозначения условные графические. Центрифуги
                (<a href="../../assets/pdf/DSTY-GOST/2.795-80.pdf" target="_blank">Переглянути</a>)
            </p>
            <p>
                ГОСТ 2.796-95 ЕСКД. Обозначения условные графические в схемах. Элементы вакуумных систем
                (<a href="../../assets/pdf/DSTY-GOST/2.796-95.pdf" target="_blank">Переглянути</a>)
            </p>
        </div>
        <div class="block">
            <h2 class="text-center">Макетний метод проектування</h2>
            <p>
                ГОСТ 2.801-74 ЕСКД. Макетный метод проектирования. Геометрическая форма, размеры моделей
                (<a href="../../assets/pdf/DSTY-GOST/2.801-74_ESKD.pdf" target="_blank">Переглянути</a>)
            </p>
            <p>
                ГОСТ 2.802-74 ЕСКД. Макетный метод проектирования. Техническая информация на рабочем макете
                (<a href="../../assets/pdf/DSTY-GOST/2.802-74.pdf" target="_blank">Переглянути</a>)
            </p>
            <p>
                ГОСТ 2.803-77 ЕСКД. Макетный метод проектирования. Требования к конструкции и размерам макетов и моделей
                (<a href="../../assets/pdf/DSTY-GOST/2.803-77_ESKD.pdf" target="_blank">Переглянути</a>)
            </p>
            <p>
                ГОСТ 2.804-84 ЕСКД. Макетный метод проектирования. Техническое содержание рабочего макета
                (<a href="../../assets/pdf/DSTY-GOST/2.804-84_ESKD.pdf" target="_blank">Переглянути</a>)
            </p>
        </div>

    </div>
</div>