<div class="col-12 patents">
    <div class="row">
        <div class="col-3 menu-title">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <h2 class="text-center">Категорія</h2>
                <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
                   aria-controls="v-pills-home" aria-selected="true"><i class="fas fa-search"></i> Патентний пошук</a>
                <a *ngFor="let patent of patents; let i = index;"
                   class="nav-link" [attr.id]="'v-pills-'+i+'-tab'" data-toggle="pill" [attr.href]="'#v-pills-'+i"
                   role="tab"
                   [attr.aria-controls]="'v-pills-'+i" aria-selected="false"><i class="fas fa-award"></i> {{patent}}</a>
            </div>
        </div>
        <div class="main-content col-9">
            <div class="tab-content" id="v-pills-tabContent">
                <!--Patents search-->
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                     aria-labelledby="v-pills-home-tab">
                    <h3 class="display-4 text-center">Патентний пошук</h3>
                    <p><b>Патентний пошук</b> — вивчення масиву охоронних документів різних країн з метою виявлення
                        серед них патенту на
                        винахід чи відкриття, аналогічне зробленому чи дослідженому.</p>
                    <p>Патентні дослідження проводяться на основі аналізу джерел патентної інформації із залученням
                        інших видів інформації, яка містить відомості про останні науково-технічні досягнення,
                        пов'язані з розробленням промислової продукції, а також про стан і перспективи розвитку ринку
                        продукції даного виду. </p>
                    <p>Патентні дослідження України регламентуються <a href="">ДСТУ 3575-97</a> «Патентні дослідження.
                        Основі положення та порядок проведення».
                        Цей стандарт установлює основні положення, порядок проведення та форму звіту про патентні
                        дослідження.</p>
                    <p>Описи до патентів на винаходи на паперових носіях публікуються одночасно з офіційним бюлетенем
                        "Промислова власність",
                        існує також електронне видання описів "Винаходи в Україні", в якому вміщено відомості про
                        зареєстровані
                        патенти на винаходи.</p>
                    <p [ngStyle]="{'font-weight': 'bold'}">Патентний пошук здійснюється за допомогою наступних пошукових
                        систем та баз
                        Офіційний веб-портал Державної служби інтелектуальної власності <a href="http://sips.gov.ua/"
                                                                                           target="_blank">http://sips.gov.ua</a>
                    </p>
                    <p>Державне підприємство "Український інститут промислової власності" (<a
                            href="http://base.ukrpatent.org/searchINV/" target="_blank">УКРПАТЕНТ</a>) – база даних
                        патентів України. </p>
                    <p>
                        Державне підприємство "Український інститут промислової власності" в рамках
                        патентно-інформаційного забезпечення широкого кола користувачів через веб-сайт <a
                            href="http://ukrpatent.org/" target="_blank">www.ukrpatent.org</a>
                        надає доступ до різноманітних баз даних (БД) та інформаційно-довідкових систем (ІДС) за
                        об'єктами промислової власності:
                    </p>
                    <ol>
                        <li>
                            Цифрова патентна бібліотека <a href="https://library.uipv.org/" target="_blank">http://library.uipv.org/</a><br>

                            Метою створення в Україні Цифрової патентної бібліотеки (далі - ЦПБ) є надання віддаленим
                            користувачам можливості здійснювати оперативний доступ до електронних патентно-інформаційних
                            ресурсів (фондів) та інших електронних джерел для отримання необхідних достовірних
                            відомостей (даних) стосовно винаходів, корисних моделей, промислових зразків, а також
                            відомостей, необхідних для набуття, охорони та захисту прав на відповідні об'єкти права
                            інтелектуальної власності.
                        </li>
                        <li>
                            БД <a href="http://base.uipv.org/searchBul/" target="_blank">"Електронна версія
                            акумулятивного офіційного бюлетеня "Промислова власність"</a>
                        </li>
                        <li>
                            Спеціалізована БД <a href="http://base.uipv.org/searchINV/" target="_blank">"Винаходи
                            (корисні моделі) в Україні"</a>
                        </li>
                        <li>
                            БД колективного користування <a
                                href="http://base.uipv.org/searchbul/search.php?dbname=appinvc" target="_blank">"Відомості
                            про заявки на винаходи, які прийняті до розгляду"</a>
                        </li>
                        <li>
                            БД <a
                                href="http://base.uipv.org/searchBUL/search.php?dbname=certtm" target="_blank">"Зареєстровані
                            в Україні знаки для товарів і послуг"</a>
                        </li>
                        <li>
                            БД <a
                                href="http://base.uipv.org/searchBul/search.php?dbname=certwkm" target="_blank">"Відомості
                            про добре відомі знаки в Україні" </a>
                        </li>
                        <li>
                            Інтерактивна БД <a
                                href="http://base.uipv.org/searchBul/search.php?dbname=certpp" target="_blank">"Промислові
                            зразки, зареєстровані в Україні" </a>
                        </li>
                    </ol>
                    <p>
                        <b><a href="http://www1.fips.ru/wps/wcm/connect/content_ru/ru/inform_resources/inform_retrieval_system/article_5/"
                              target="_blank">РОСПАТЕНТ</a></b> - Російське патентне відомство - федеральна служба по
                        інтелектуальній власності,
                        патентам і товарним знакам. У інформаційній пошуковій системі можливий пошук по винаходах,
                        рефератах патентних документів на російській і англійській мовах, перспективних винаходах,
                        корисних моделях:
                    </p>
                    <p>
                        Відкриті реєстри <a href="http://www1.fips.ru/wps/portal/Registers/" target="_blank">http://www1.fips.ru/wps/portal/Registers/</a>
                    </p>
                    <p>
                        База патентів на винахід РФ <a href="http://ru-patent.info/" target="_blank">http://ru-patent.info/</a>
                    </p>
                    <p>
                        <b>FindPatent.ru</b> - безкоштовний патентний пошук онлайн за ключовими словами, номерам і
                        категоріям в базах винаходів РФ і СРСР <a href="http://www.findpatent.ru/" target="_blank">http://www.findpatent.ru/</a>
                    </p>
                    <p>
                        <b><a href="https://www.uspto.gov/patents-application-process/search-patents" target="_blank">USPTO</a></b>
                        – повнотекстова база даних патентного відомства США, що налічує декілька мільйонів
                        патентів з 1976 р., які зберігаються у текстовому форматі HTML та графічному форматі TIFF.
                        Патенти з 1790 р. до 1976 р. зберігаються тільки у графічному форматі.
                    </p>
                    <p>
                        <b><a href="https://www.google.com/?tbm=pts" target="_blank">Google Patent Search</a></b> - база
                        даних Google складається з патентів, що містяться в базі USPTO
                        (United States Patent and Trademark Office). Розширений пошук дозволяє здійснювати пошук по
                        таких критеріях як автор, назва, номер патенту, дата. Є зручна можливість збільшення тексту
                        (zoom) та ілюстрацій патентів. Пошукова система використовує спеціальну технологію розпізнавання
                        тексту на фотографіях, яка дозволяє здійснювати пошук навіть по тексту на відсканованих
                        патентах.
                    </p>
                    <p>
                        <b><a href="http://patents.ic.gc.ca/opic-cipo/cpd/eng/search/advanced.html" target="_blank">Canadian
                            Patents Database</a></b> – пошукова система патентної служби Канади, призначена
                        для пошуку в базі даних канадських патентів. Простий і зручний пошук. Можливе відображення
                        графічних ілюстрацій до патентів. У базі даних понад 1.9 млн. патентів, починаючи з 1869 року.
                    </p>
                    <p>
                        <b><a href="https://worldwide.espacenet.com/?locale=en_EP" target="_blank">Esp@cenet</a></b> -
                        Європейське патентне відомство (European Patent Office). На даний час база містить більше 60
                        млн. патентних заявок і патентів. Через сайт Європейської патентної організації можна провести
                        пошук патентів по БД: “Worldwide”, Європейської патентної організації (EPO), Всесвітньої
                        організації інтелектуальної власності (WIPO).
                    </p>
                    <p>
                        База даних <b>“Worldwide”</b> дозволяє шукати інформацію про опубліковані патентні документи з
                        більш ніж
                        80 країн і регіонів. Це найбільше зібрання документів в Espacenet. В базах даних «EP -
                        esp@cenet» та “WIPO - esp@cenet” можна знайти патенти опубліковані лише за останні два роки.
                        Старіші документи знаходяться в БД “Worldwide”. На головній сторінці сайту відображається список
                        останніх опублікованих патентів. Пошук в базах даних проводиться англійською мовою, але для
                        гарантії доцільно повторити процедуру пошуку на мові країни, яка реєструвала патент, тому що не
                        у всіх патентах присутній англійський переклад назви та реферату.
                    </p>
                    <p>
                        <b><a href="" target="_blank">ЕАПВ</a></b> – Євразійське патентне відомство. Має більше 30
                        локальних патентних баз даних, в яких на кінець 2010 р. міститься більше 35 млн. патентних
                        документів. У локальних БД представлені патентні документи ЕАПВ, ВОІВ, Європейського патентного
                        відомства, патентного відомства США, Росії (з 1924г.), а також патентні документи країн СНД і
                        національних патентних відомств країн-членів ЕАПО. У системі реалізовані засоби пошуку в
                        зовнішніх патентних БД цифрових бібліотек інтелектуальної власності (IPDL) та в інформаційних
                        системах:<b>ESP@CENET, EPOLINE, JOPAL та ін.</b>
                    </p>
                    <p>
                        <a href="http://www.sipo.gov.cn/sipo2008/zljs/" target="_blank"><b>SIPO </b></a> – державне
                        відомство інтелектуальної власності
                        Китайської Народної Республіки. Надає вільний доступ до документів на китайській та англійській
                        мовах, починаючи з 1985 р. Є можливість перекладу окремих документів за допомогою технології
                        машинного перекладу CPMT.
                    </p>
                    <p>
                        <a href="https://www.j-platpat.inpit.go.jp/web/all/top/BTmTopEnglishPage " target="_blank"><b>Patent
                            Abstracts of Japan (PAJ)</b></a> - бази даних Патентного
                        відомства Японії. Пропонує доступ до БД патентів та товарних знаків Японії з 1993 року
                        англійською мовою. На даний момент в БД знаходиться понад 4.7 млн. документів.
                    </p>
                    <p>
                        <a href="https://www.wipo.int/portal/en/index.html"><b>WIPO (World Intellectual Property
                            Organization)</b></a> - Всесвітня Організація Інтелектуальної Власності. Патентний пошук у
                        БД WIPO здійснюється за допомогою пошукової служби PATENTSCOPE®, яка забезпечує безкоштовний
                        доступ до Міжнародних патентних заявок та національним/регіональним патентним документам.
                        Патентна база даних ВОІВ містить інформацію про більш ніж 1.8 млн. опублікованих міжнародних
                        патентах. На сайті з’явився новий пошуковий інструмент, який дозволяє шукати не тільки у
                        колекції <a
                            href="https://patentscope.wipo.int/search/en/search.jsf" target="_blank">міжнародних
                        патентних заявок</a>, але і в <a href="https://patentscope.wipo.int/search/en/search.jsf"
                                                         target="_blank">патентних колекціях</a> Африканської
                        Регіональної
                        Організації Інтелектуальної Власності (ARIPO), Аргентини, Бразилії, Куби, Ізраїлю, Марокко,
                        Мексики, Республіки Корея, Сінгапура, Південної Африки, Іспанії і В'єтнаму.
                    </p>
                    <p>
                        <a href="https://www.lens.org/lens/" target="_blank"><b>Patent Lens</b></a> - он-лайн сервіс
                        патентного пошуку, створений незалежною некомерційною організацією Cambia. Дозволяє пошук
                        патентів з США, Європи, Австралії та ВОІВ. БД містить більше 10 млн. документів.
                    </p>
                    <p>
                        <a href="http://www.wikipatents.com/" target="_blank"><b>WikiPatents</b></a> - безкоштовна
                        пошукова система патентів, налічує більше 15 млн. патентів.
                        Постійно зростаюча база даних WikiPatents включає патенти і патентні заявки з США, Німеччини,
                        Японії, Великобританії, Канади, Франції, Іспанії та Швейцарії. Про кожний патент видає коротку
                        інформацію, присутня швидка навігація по зображеннях патенту, дозволяє завантаження патентів у
                        різних форматах, таких як TXT, RTF (Word), PDF. Відображає на карті місце проживання
                        винахідника. WikiPatents також дозволяє перекладати за допомогою технології ГУГЛ, коментувати і
                        оцінювати будь-які патенти.
                    </p>
                    <p>
                        <a href="http://www.surfip.gov.sg/_patent-f.htm" target="_blank"><b>Surf IP</b></a> – проект
                        відомства інтелектуальної власності Сінгапура. Дозволяє вести пошук у патентних
                        базах даних Європейського патентного бюро (EPO), США (USPTO), WIPO, Великобританії (UK-IPO),
                        Японії (JPO-IPDL), Тайвані (TIPO), Канади (CIPO), Китаю (SIPO), Тайланду (TIPIC), Кореї (KIPO),
                        Сінгапура (IPOS).
                    </p>
                    <p>
                        <a href="http://www.freepatentsonline.com/search.html" target="_blank"><b>Free Patents
                            Online</b></a> – пошукова система, яка забезпечує швидкий доступ до мільйонів патентів і
                        патентних заявок. Це одна з найпотужніших, швидких і простих систем патентного пошуку в
                        Інтернеті. Free patents online дозволяє здійснювати пошук у БД патентного відомства США,
                        Європейського патентного відомства, Всесвітньої організації інтелектуальної власності і
                        Японському патентному відомстві. Зареєстрованим надаєбільш широкі можливості, наприклад,
                        сповіщення про надходження нових патентів. На сайті запущено цікаву систему відображення
                        патентів на карті світу.
                    </p>
                    <p>
                        <a href="https://insight.rpxcorp.com/" target="_blank"><b>PRIORSMART</b></a> – це новий
                        безкоштовний ресурс, який забезпечує доступ до більше 60 онлайн патентних
                        баз даних. Дозволяє проводити пошук за назвою, рефератом, формулоюі винаходу, іменем власника
                        патенту, іменем винахідника, описом та МПК. Інтерфейс представлений іспанською, англійською,
                        французькою, німецькою, російською, японською, китайською і корейською мовами.
                    </p>
                    <p>
                        БАЗА ПАТЕНТОВ СССР <a href="http://patents.su/" target="_blank">http://patentdb.su/</a>
                    </p>
                    <p>
                        Матеріалами бази є авторські свідоцтва на винаходи, опубліковані за часів СРСР. Тут ви знайдете
                        описи, моделі і креслення різних пристроїв та механізмів, а також безліч способів і методів
                        одержання, виготовлення та виробництва виробів, препаратів, матеріалів і багато чого іншого.
                    </p>
                </div>
                <!--END Patents search-->
                <!--Patents for years-->
                <div *ngFor="let value of values; let i = index;"
                     class="tab-pane fade" [attr.id]="'v-pills-'+i" role="tabpanel"
                     [attr.aria-labelledby]="'v-pills-'+i+'-tab'">
                    <h3 class="display-4 text-center">Патенти</h3>
                    <p class="name-patent text-center">{{value}}</p>
                    <ol>
                        <li *ngFor="let patent of patents;">{{patent}} (<a href="#">{{i}}</a>)</li>
                    </ol>
                </div>
                <!--END Patents for years-->

            </div>
        </div>
    </div>
</div>
