<div class="main_content">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Головна</a></li>
            <li class="breadcrumb-item active" aria-current="page">Ювіляри</li>
        </ol>
    </nav>
    <h1 class="text-center">Ювіляри</h1>
    <div class="container-fluid" [ngStyle]="{'margin-top': '2em'}">
        <div class="row">
            <ng-container *ngFor="let scientist of scientists">
                <div *ngIf="searchDate(scientist?.birthday)%5 === 0"
                   class="my-2 shadow-1 blue-hover card shadow-lg">
                    <div class="top-card pl-2 pr-2">
                        <img class="img_content shadow-1" [attr.src]="scientist?.image" alt="?">
                        <div class="top-text">
                            <h5 class="font-weight-normal text-center">
                                {{scientist?.name}}
                            </h5>
                            <p class="text-center birthday" [ngStyle]="{'font-size':'18px'}">
                                ({{scientist?.birthday}} - {{scientist?.deathday}})
                            </p>
                        </div>
                    </div>
                    <div class="bottom-txt">
                        <p class="pl-2 pr-2">
                            {{scientist?.short_description}}</p>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>
