<div class="main_content">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/">Головна</a></li>
      <li class="breadcrumb-item active" aria-current="page">Ювіляри</li>
    </ol>
  </nav>
  <h1 class="display-4 text-center">Ювіляри</h1>
  <div class="container-fluid" [ngStyle]="{'margin-top': '2em'}">
    <div class="row">
      <div class="my-2 mx-auto p-relative bg-white shadow-1 blue-hover card">
        <img src="../../assets/img/ban.jpg"
             class="img_content shadow-1">
        <div class="pt-3">
          <h4 class="font-weight-normal text-center">
            Алейников Владислав Іванович
          </h4>
          <p class="text-center" [ngStyle]="{'font-size':'18px'}">(1930 – 2008)</p>
          <p class="text-justify" >
            Доктор технічних наук, доцент кафедр технології гідролізних виробництв, технології
            хлібопекарських і кондитерських виробництв, провідний науковий співробітник НІСу кафедри
            технології молока та сушки харчових продуктів. </p>
        </div>
      </div>
    </div>
  </div>
</div>
