/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,600,700,700i,800,800i&subset=cyrillic,cyrillic-ext');
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,200i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=cyrillic,cyrillic-ext');
body {
    min-height: 100vh;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    /*letter-spacing: 0.05em;*/
    /*font-family: 'Montserrat', sans-serif;*/
}
.breadcrumb {
    background: none;
    margin-bottom: 0 !important;
    padding: 1em 0 1em 2em !important;
    font-size: 18px;
}
.breadcrumb-item a{
    color:#d78737;
    text-decoration: none;
}
.breadcrumb-item a:hover {
    color: #d7702b;
}

@media screen and (min-width: 1800px){
    .breadcrumb {
        font-size: 20px !important;
    }
}