@import "~bootstrap/dist/css/bootstrap.css";

.main {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    min-height:84.75vh;
    padding: 3em 0;
    background: rgba(0, 0, 0, 0.7);
    color: white;
}
.content {
    margin: 0 !important;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}
.display-3 {
    text-align: center;
}
/**News card*/
.news {
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: center;
    background: snow;
    color: #424243;
    text-align: justify;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.news_title {
    color: #df001e;
    overflow: hidden;
    box-sizing: border-box;
}
/* Line after and before book in the news card */
.news_title:after {
    display: inline-block;
    vertical-align: middle;
    content: "";
    background: #e6be00;
    margin: 0 0.5em;
    height: 2px;
}
.news_title:before {
    display: inline-block;
    vertical-align: middle;
    content: "";
    background: #4b6f3e;
    margin: 0 0.5em;
    height: 2px;
}

/**Structure info*/
.structure {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background: snow;
    padding: 4em 2.5em;
    text-align: center;
}
.mobile_structure {
    display: none;
}
.structure-inside {
    height: 100%;
    width: 100%;
    background: url("../../assets/img/lib_logo.png") center no-repeat;
    background-size: 472px 302px;
    padding: 0 !important;
}

.structure_text {
    padding: 1em 0;
    color: #424243;
}
/**Structure card*/
.card {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: start;
    background: 0;
    padding: 1em ;
    text-align: left;
    border: 0;
    border-top: 1px solid #424243;
    border-bottom: 1px solid #424243;
    border-radius: 0;
    box-sizing: border-box;
}
/**Alignment card*/
.card-content {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.card-content-left {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}
.card-content-right{
    position: relative;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;
}
.row {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.first-card {
    position: relative;
    margin-top: 3em;
}
.second-card {
    position: relative;
    margin-top: -3em;
}
.card > p {
    margin: 0;
}
.main_info {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background: rgb(17, 21, 23);;
    padding: 1.5em 3em;
    width: 100%;
}
.main_info .row {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%;
}
.new_card {
    border: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.new_card img {
    margin-right: 2em;
}
.more_info {
    display: none;
}

/**About us style*/
.about {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    background: snow;
    padding: 4em 2.5em;
    text-align: left;
}
.about-info {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 2em;
    background: snow;
    text-align: left;
}
.about-info h1 {
    padding-bottom: 0.5em;
}
.about-info p {
    font-size: 18px;
    padding-bottom: 0.35em;
}
.icon-about {
    padding-bottom: 0.55em !important;
    margin-bottom: 0 !important;
    font-size: 15px !important;
}
.icon-about i {
    font-size: 15px;
    padding-right: 0.75em;
}
.icon-link {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    background: snow;
    text-align: left;
}
.icon-link a {
    font-size: 28px;
    padding: 0.25em 1em 0.25em 0;
    margin-top: 1rem;
    color: #212529;
}
/**About form*/
.about-form {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    background: snow;
    padding: 0 2em;
    text-align: left;
}
form {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: stretch;
    padding: 0.5em 0.25em;
    width: 100%;
}
.input-group {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 0.75em;
}
.form-control {
    border-radius: 5px !important;
}
.input-group i {
    margin-left: -1.5em;
    color: #9f9fa5;
    z-index: 1;
}
.input-group textarea {
    height: 205px;
}
button.btn.btn-light{
    transition: 600ms;
    color: #212529 !important;
    border: 1px solid #ced4da !important;
}
button.btn.btn-light:hover {
    background: #ced4da;
}

/**FAQ style*/
.faq {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    background: snow;
    padding: 4em 2.5em;
}
textarea {
    resize: none;
}
.faq h1 {
    padding-bottom: 1em;
}
.questions {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: baseline;
    padding-right: 0;
    padding-left: 0;
}
.accordion .card-body {
    text-align: justify;
}
.card-header {
    position: relative;
    letter-spacing:1px;
    word-spacing:3px;
    color: #555;
}
.card-body p {
    padding: 0;
    margin: 0;
    text-indent: 2em;
}
.card-header h2 {
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
    justify-content: space-between;
}

#btnOne:focus ~ #rollOne{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
}

@media only screen and (min-width: 1224px)  {
    .title {
        text-align: center;
        font-size: 28px !important;
    }
    .block_space {
        padding: 0 0.25em;
    }
    .news {
        padding: 1.25em 1em;
        height: 395px;
    }
    .main_title {
        font-size: 18px !important;
    }
    .news > .lead {
        font-size: 15px;
        line-height: 1.5em;
    }
    .news > p {
        margin-bottom: 0.25em;
    }
    .news_title {
        font-size: 26px;
    }
    .news_title:after {
        width: 85px;
    }
    .news_title:before {
        width: 85px;
    }
    .n_last {
        margin-top: 3.75em;
    }
    .structure_text {
        width: 900px;
    }
    .card {
        width: 330px;
        margin-bottom: 2em;
    }
    .first-card {
        height: auto;
        margin-bottom: 2em;
    }
    .new_card {
        margin-bottom: 0;
    }
    .accordion .card {
        width: 100%;
        border: 0;
        margin-bottom: 0;
        padding: 0
    }
    .card-header {
        width: 100%;
    }
    .card-header button.btn.btn-link {
        text-align: left;
        color: #212529;
        font-size: 22px;
        text-decoration: none;
        width: 100%;
    }
    .card-body ul {
        margin-bottom: 0;
    }
    .roll {
        transition: 600ms;
        float: right;
        font-size: 22px;
        margin-left: -0.5em;
    }

}
@media only screen and (min-width: 1800px) {
    .title {
        text-align: center;
        font-size: 32px !important;
    }
    .block_space {
        padding: 0 0.25em;
    }
    .news {
        padding: 2em 1.5em 1.5em;
        height: 500px;
    }
    .main_title {
        font-size: 24px !important;
    }
    .news > .lead {
        font-size: 17px;
    }
    .news_title {
        font-size: 32px;
    }
    .news_title:after {
        width: 105px;
    }
    .news_title:before {
        width: 105px;
    }
    .n_last {
        margin-top: 3.75em;
    }
    .structure_text {
        width: 900px;
    }
    .card {
        width: 330px;
        margin-bottom: 2em;
    }
    .first-card {
        height: auto;
        margin-bottom: 2em;
    }
    .new_card {
        margin-bottom: 0;
    }
    .accordion .card {
        width: 100%;
        border: 0;
        margin-bottom: 0;
        padding: 0;
    }
    .card-header {
        width: 100%;
    }
    .card-header button.btn.btn-link {
        text-align: left;
        color: #212529;
        font-size: 22px;
        text-decoration: none;
        width: 100%;
    }
    .card-body ul {
        margin-bottom: 0;
    }
    .roll {
        transition: 600ms;
        float: right;
        font-size: 22px;
        margin-left: -0.5em;
     }

}
@media screen and (max-width: 768px) {
    .display-3 {
        font-size: 3em;
        text-align: center;
    }
    .title {
        text-align: center;
    }
    .block_space {
        padding: 0.5em 0.25em;
    }
    .news {
        padding: 1em 0.75em;
    }
    .news > .lead {
        font-size: 12px;
    }
    .news > .main_title {
        font-size: 14px;
    }
    .news_title {
       font-size: 22px;
        margin-bottom: 0.5em;
    }
    .news_title:after {
        width: 85px;
        margin: 0 0.75em;
    }
    .news_title:before {
        width: 85px;
        margin: 0 0.75em;
    }
    .n_last {
        margin: 0 !important;
    }
    .structure {
        display: none;
    }
    .main_info {
        display: none;
    }
    .mobile_structure {
        position: relative;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        background: #e4e4e4;
        padding: 4em 0;
        text-align: center;
    }
    .display-5 {
        font-size: 2em;
        text-align: center;
    }
    .structure_text {
        font-size: 14px;
    }
    .mobile_card {
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        justify-content: start;
        align-items: start;
        background: 0;
        text-align: left;
        font-size: 14px;
        border: 0;
        border-radius: 0;
        box-sizing: border-box;
        padding: 0.25em 0;
        color: #000000;
    }
    .mobile_card > h4 {
        font-size: 18px;
        display: inline-flex;
    }
    .mobile_card > img {
        padding: 0 1em;
    }
    .more_info {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        padding: 1em 0.25em 0;
        text-align: center;
    }
    .btn {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        background: rgba(258, 258, 258, 0.3);
        border-radius: 100%;
        text-align: center;
    }
    .fa-angle-down {
        color: rgb(255, 255, 255);
        font-size: 24px;
    }
    .desktop_version {
        display: none;
    }
    .col-sm-12 {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }

}