<!-- Main info about site-->
<div class="container-fluid main col-12">
  <h1 class="display-3 col-12">Науково-технічна бібліотека</h1>
  <p class="lead title col-12">Одеської національної академії харчових технологій</p>
  <hr class="my-4">
  <div class="container-fluid content col-12">
    <div class="block_space col-lg-3 col-md-6">
    <div class="news">
      <p class="news_title"> <i class="far fa-file-alt"></i></p>
      <p class="lead font-weight-bold main_title" >Шановні науковці!</p>
      <p class="lead">
        Звертаємо вашу увагу, що з 1 грудня 2018 року науковці ОНАХТ можуть скористатися можливостями
        наукометричних баз Web of Science та Scopus за посиланнями:<br>
        Web of Science: <a href="" > webofscience.com</a><br>
        Scopus: <a href="">scopus.com</a><br>
        У разі виникнення труднощів з налаштуванням віддаленого доступу звертайтесь в А-140,
        за телефоном 15-52 або на електронну пошту  index@onaft.edu.ua
      </p>
    </div>
    </div>
    <div class="block_space col-lg-3 col-md-6 desktop_version">
      <div class="news n_last">
        <p class="news_title"> <i class="far fa-file-alt"></i></p>
        <p class="lead font-weight-bold main_title" >Шановні науковці!</p>
        <p class="lead">
          Звертаємо вашу увагу, що з 1 грудня 2018 року науковці ОНАХТ можуть скористатися можливостями
          наукометричних баз Web of Science та Scopus за посиланнями:<br>
          Web of Science: <a href="" > webofscience.com</a><br>
          Scopus: <a href="">scopus.com</a><br>
          У разі виникнення труднощів з налаштуванням віддаленого доступу звертайтесь в А-140,
          за телефоном 15-52 або на електронну пошту  index@onaft.edu.ua
        </p>
      </div>
    </div>
    <div class="block_space col-lg-3 col-md-6 desktop_version">
      <div class="news">
        <p class="news_title"> <i class="far fa-file-alt"></i></p>
        <p class="lead font-weight-bold main_title" >Корисна інформація</p>
        <p class="lead">
          Ресурс для оформлення посилань згідно ДСТУ 8302:2015 розроблений співробітниками
          Координаційного центру видання наукової періодики ОНАХТ.
          Також, крім автоматичного оформлення літератури на ресурсі ще можлива автоматична
          транслітерація та завантаження отриманного результату у файл у форматі *.docx.<br>
          Посилання: <a href="">4ref.onaft.edu.ua</a>
        </p>
      </div>
    </div>
    <div class="block_space col-lg-3 col-md-6 desktop_version">
      <div class="news n_last">
        <p class="news_title"> <i class="far fa-file-alt"></i></p>
        <p class="lead font-weight-bold main_title" >Шановні науковці!</p>
        <p class="lead">
          Звертаємо вашу увагу, що з 1 грудня 2018 року науковці ОНАХТ можуть скористатися можливостями
          наукометричних баз Web of Science та Scopus за посиланнями:<br>
          Web of Science: <a href="" > webofscience.com</a><br>
          Scopus: <a href="">scopus.com</a><br>
          У разі виникнення труднощів з налаштуванням віддаленого доступу звертайтесь в А-140,
          за телефоном 15-52 або на електронну пошту  index@onaft.edu.ua
        </p>
      </div>
    </div>
    <!-- END  main info-->

    <!--Mobile version-->
    <div class="more_info col-12 justify-content-center">
        <a class="btn col-1" data-toggle="collapse" href="#collapse" role="button" aria-expanded="false" aria-controls="collapseExample">
          <i class="fas fa-angle-down"></i>
        </a>
    </div>
    <div class="collapse col-sm-12" id="collapse">
      <div class="block_space col-sm-12">
        <div class="news n_last">
          <p class="news_title"> <i class="far fa-file-alt"></i></p>
          <p class="lead font-weight-bold main_title" >Шановні науковці!</p>
          <p class="lead">
            Звертаємо вашу увагу, що з 1 грудня 2018 року науковці ОНАХТ можуть скористатися можливостями
            наукометричних баз Web of Science та Scopus за посиланнями:<br>
            Web of Science: <a href="" > webofscience.com</a><br>
            Scopus: <a href="">scopus.com</a><br>
            У разі виникнення труднощів з налаштуванням віддаленого доступу звертайтесь в А-140,
            за телефоном 15-52 або на електронну пошту  index@onaft.edu.ua
          </p>
        </div>
      </div>
      <div class="block_space col-lg-3 col-md-3 col-sm-12">
        <div class="news">
          <p class="news_title"> <i class="far fa-file-alt"></i></p>
          <p class="lead font-weight-bold main_title" >Корисна інформація</p>
          <p class="lead">
            Ресурс для оформлення посилань згідно ДСТУ 8302:2015 розроблений співробітниками
            Координаційного центру видання наукової періодики ОНАХТ.
            Також, крім автоматичного оформлення літератури на ресурсі ще можлива автоматична
            транслітерація та завантаження отриманного результату у файл у форматі *.docx.<br>
            Посилання: <a href="">4ref.onaft.edu.ua</a>
          </p>
        </div>
      </div>
      <div class="block_space col-lg-3 col-md-3 col-sm-12">
        <div class="news n_last">
          <p class="news_title"> <i class="far fa-file-alt"></i></p>
          <p class="lead font-weight-bold main_title" >Шановні науковці!</p>
          <p class="lead">
            Звертаємо вашу увагу, що з 1 грудня 2018 року науковці ОНАХТ можуть скористатися можливостями
            наукометричних баз Web of Science та Scopus за посиланнями:<br>
            Web of Science: <a href="" > webofscience.com</a><br>
            Scopus: <a href="">scopus.com</a><br>
            У разі виникнення труднощів з налаштуванням віддаленого доступу звертайтесь в А-140,
            за телефоном 15-52 або на електронну пошту  index@onaft.edu.ua
          </p>
        </div>
      </div>
    </div>
    <!--<div class="block_space col-lg-3 col-md-3 col-sm-12">-->
      <!--<div class="news n_last">-->
        <!--<p class="news_title"> <i class="far fa-file-alt"></i></p>-->
        <!--<p class="lead font-weight-bold main_title" >Шановні науковці!</p>-->
        <!--<p class="lead">-->
          <!--Звертаємо вашу увагу, що з 1 грудня 2018 року науковці ОНАХТ можуть скористатися можливостями-->
          <!--наукометричних баз Web of Science та Scopus за посиланнями:<br>-->
          <!--Web of Science: <a href="" > webofscience.com</a><br>-->
          <!--Scopus: <a href="">scopus.com</a><br>-->
          <!--У разі виникнення труднощів з налаштуванням віддаленого доступу звертайтесь в А-140,-->
          <!--за телефоном 15-52 або на електронну пошту  index@onaft.edu.ua-->
        <!--</p>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="block_space col-lg-3 col-md-3 col-sm-12">-->
    <!--<div class="news">-->
      <!--<p class="news_title"> <i class="far fa-file-alt"></i></p>-->
      <!--<p class="lead font-weight-bold main_title" >Корисна інформація</p>-->
      <!--<p class="lead">-->
        <!--Ресурс для оформлення посилань згідно ДСТУ 8302:2015 розроблений співробітниками-->
        <!--Координаційного центру видання наукової періодики ОНАХТ.-->
        <!--Також, крім автоматичного оформлення літератури на ресурсі ще можлива автоматична-->
        <!--транслітерація та завантаження отриманного результату у файл у форматі *.docx.<br>-->
        <!--Посилання: <a href="">4ref.onaft.edu.ua</a>-->
      <!--</p>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="block_space col-lg-3 col-md-3 col-sm-12">-->
    <!--<div class="news n_last">-->
      <!--<p class="news_title"> <i class="far fa-file-alt"></i></p>-->
      <!--<p class="lead font-weight-bold main_title" >Шановні науковці!</p>-->
      <!--<p class="lead">-->
        <!--Звертаємо вашу увагу, що з 1 грудня 2018 року науковці ОНАХТ можуть скористатися можливостями-->
        <!--наукометричних баз Web of Science та Scopus за посиланнями:<br>-->
        <!--Web of Science: <a href="" > webofscience.com</a><br>-->
        <!--Scopus: <a href="">scopus.com</a><br>-->
        <!--У разі виникнення труднощів з налаштуванням віддаленого доступу звертайтесь в А-140,-->
        <!--за телефоном 15-52 або на електронну пошту  index@onaft.edu.ua-->
      <!--</p>-->
    <!--</div>-->
    <!--</div>-->
  </div>
</div>
<!-- END mobile main info-->

<!-- Info about structure of library-->
<div class="container-fluid structure col-12">
  <h1 class="display-5">Про бібліотеку</h1>
  <p class="lead structure_text">Діяльність науково-технічної бібліотеки академії спрямована на
    забезпечення її відповідності бібліотеці інноваційного типу
    завдяки підвищенню якості інформаційного та бібліотечно-бібліографічного
    обслуговування користувачів
  </p>
  <div class="container-fluid structure-inside">
    <div class="container card-content col-12">
    <div class="card">
      <h4>Відділ обслуговування навчальною літературою</h4>
      <p><b>Завідуюча відділом:</b> Гриньків Світлана Йосипівна<br>
        Абонемент навчальної літератури, ауд. А–137/9<br>
        Читальний зал технічної літератури, ауд. А–228</p>
    </div>
    <div class="card first-card" style=" height: 180px;">
      <h4>Адміністрація</h4>
      <p><b>Директор:</b> Зінченко Ірина Іванівна<br>
        ауд. А-227<br>
        тел.: 712-41-88<br>
        E-mail: lib.onaft@gmail.com</p>
    </div>
    <div class="card">
      <h4>Відділ обслуговування науковою літературою</h4>
      <p><b>Завідуюча відділом:</b> Захарченко Ганна Іванівна<br>
        Абонемент наукової літератури, ауд. А–137/7<br>
        Абонемент художньої літератури, ауд. А–415<br>
        Читальний зал періодичних видань, ауд. А–225</p>
    </div>
  </div>

    <div class="container card-content-left col-12">
      <div class="row">
        <div class="card">
          <h4>Інформаційно-бібліографічний відділ</h4>
          <p><b>Завідуюча відділом:</b> Мазепа Тетяна Євгенівна<br>
            ауд. А–229<br></p>
        </div>
        <div class="card card-content-right">
          <h4>Галузевий відділ (вул. Дворянська, 1/3)</h4>
          <p><b>Завідуюча відділом:</b> Степанова Ірина Владиславівна<br>
            ауд. 127<br></p>
        </div>
      </div>

      <div class="row">
        <div class="card">
          <h4>Координаційний центр видання наукової періодики</h4>
          <p><b>Керівник центру:</b> Ольшевська Ольга Володимирівна<br>
            ауд. А–140<br></p>
        </div>
        <div class="card card-content-right">
          <h4>Відділ наукової обробки документів та організації каталогів</h4>
          <p><b>Завідуюча відділом:</b> Тимчишина Маргарита Веніамінівна<br>
            ауд. А–137/2<br></p>
        </div>
      </div>

    </div>
    <div class="container card-content col-12">
        <div class="card">
          <h4>Відділ комплектування документів</h4>
          <p><b>Завідуюча відділом:</b> Скутаренко Олена Леонідівна<br>
            ауд. А–137/3<br></p>
        </div>
        <div class="card second-card"  style=" height: 160px;">
          <h4>Відділ зберігання фондів</h4>
          <p><b>Завідуюча відділом:</b> Полякова Нонна Вікторівна<br>
            ауд. А–137/3<br></p>
        </div>
        <div class="card">
          <h4>Організаційно-методичний відділ</h4>
          <p><b>Завідуюча відділом:</b> Сиволап Оксана Сергіївна<br>
            ауд. А–139<br></p>
        </div>
    </div>
  </div>
</div>
<div class="container-fluid main_info col-12">
<div class="row">
  <div class="card new_card col-5">
    <img src="../../assets/img/computer.png"/>
    <div class="col" >
      <h4 style="color: white">Зал електорнних каталогів</h4>
      <p style="color: white">Місце для пошук необхідної інформації через електронний та традиційні каталоги<br>
      ауд. А-226</p>
    </div>
  </div>
  <div class="card new_card col-5">
    <img src="../../assets/img/checklist.png"/>
    <div class="col">
    <h4 style="color: white">Вільний простір "Info HUB"</h4>
      <p style="color: white">Місце проведення семінарів, конференцій та різноманітних заходів<br>
        ауд. А-316</p>
    </div>
  </div>
</div>
</div>
<!--END info about structure-->


<!-- Mobile version info about structure of library-->
<div class="container-fluid mobile_structure col-12">
  <h1 class="display-5">Про бібліотеку</h1>
  <p class="lead structure_text">Діяльність науково-технічної бібліотеки академії спрямована на
    забезпечення її відповідності бібліотеці інноваційного типу
    завдяки підвищенню якості інформаційного та бібліотечно-бібліографічного
    обслуговування користувачів
  </p>
  <div class="container-fluid mobile_strusture col-sm-12">
  <div class="card col-sm-12 mobile_card">
    <img src="../../assets/img/temple.png"/>
    <div class="col">
      <h4>Адміністрація</h4>
      <p><b>Директор:</b> Зінченко Ірина Іванівна<br>
        ауд. А-227<br>
        тел.: 712-41-88<br>
        E-mail: lib.onaft@gmail.com</p>
    </div>
  </div>
    <div class="card col-sm-12 mobile_card">
      <img src="../../assets/img/books.png"/>
      <div class="col">
        <h4>Відділ обслуговування навчальною літературою</h4>
        <p><b>Завідуюча відділом:</b> Гриньків Світлана Йосипівна<br>
          Абонемент навчальної літератури, ауд. А–137/9<br>
          Читальний зал технічної літератури, ауд. А–228</p>
      </div>
    </div>
    <div class="card col-sm-12 mobile_card">
      <img src="../../assets/img/computer_black.png"/>
      <div class="col">
        <h4>Зал електорнних каталогів</h4>
        <p>Забезпечує оперативний пошук необхідної інформації через електронний та традиційні каталоги
          <br>ауд. А-226</p>
      </div>
    </div>
    <div class="card col-sm-12 mobile_card">
      <img src="../../assets/img/checklist_black.png"/>
      <div class="col">
        <h4>Вільний простір "Info HUB"</h4>
        <p>Місце проведення семінарів, конференцій та різноманітних заходів<br>
          ауд. А-316</p>
      </div>
      </div>
  </div>
</div>
<!--END mobile version info about structure-->


<!--About us section-->
<div class="container-fluid about col-12">
  <div class="row row-eq-height about-info col-6">
    <h1 class="display-5">Віртуальна довідка</h1>
    <p class="lead text-justify">
      Якщо у вас виникли питання, заохочення та пропозиції щодо роботи бібіліотеки, зверніться за наведенною формою
      до співробітника академії. Для цього необхідно заповнити наведені поля та відправити ваше повідомлення.
    </p>
    <p class="lead text-justify icon-about"><i class="fas fa-map-marker-alt"></i> Україна, 65039,
      м. Одеса, вул. Канатна, 112</p>
    <p class="lead text-justify icon-about"><i class="fas fa-phone"></i>+38(048)712‐41‐88, +38(048)712‐40‐49</p>
    <p class="lead text-justify icon-about"><i class="fas fa-envelope"></i>lib.onaft@gmail.com, onaft.library@gmail.com</p>
    <div class="icon-link">
      <a href="https://www.facebook.com/libONAFT" target="_blank"><i class="fab fa-facebook-f"></i></a>
      <a href="https://twitter.com/libonaft" target="_blank"><i class="fab fa-twitter"></i></a>
      <a href="https://www.instagram.com/_onaft_/" target="_blank"><i class="fab fa-instagram"></i></a>
    </div>
  </div>
  <div class="row row-eq-height about-form col-6">
    <form>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
        <div class="input-group-append">
          <i class="fas fa-user"></i>
        </div>
      </div>
      <div class="input-group">
        <input type="email" class="form-control" placeholder="example@mail.com" aria-label="Email" aria-describedby="basic-addon1">
        <div class="input-group-append">
          <i class="fas fa-envelope"></i>
        </div>
      </div>
      <div class="input-group">
        <textarea class="form-control" aria-label="With textarea" placeholder="Your message"></textarea>
      </div>
      <div class="input-group justify-content-start" style="padding-bottom: 0;">
        <button type="button" class="btn btn-light">Відправити</button>
      </div>
    </form>
  </div>
</div>
<!--END about us section-->


<!--FAQ section-->
<div class="container-fluid faq col-12">
  <h1 class="display-5">Питання-Відповідь</h1>
  <div class="container-fluid col-12 questions">
    <div class="accordion col-12" id="accordionExample">
      <!--Card 1 Як стати читачем?-->
      <div class="card">
        <div class="card-header" id="headingOne">
          <h2 class="mb-0">
            <button class="btn btn-link" id="btnOne" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
              Як стати читачем?
            </button>
              <i class="fa fa-angle-down roll" id="rollOne"></i>
          </h2>
        </div>
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
            &nbsp;&nbsp;&nbsp;&nbsp;Право користування бібліотекою мають студенти, магістри, аспіранти, професорсько-викладацький склад, працівники структурних підрозділів академії та центру довузівської підготовки, студенти інституту холоду, коледжу промислової автоматики та інформаційних технологій, коледжу нафтогазових технологій та інфраструктури сервісу, механіко-технологічного коледжу.
            Для запису в бібліотеку необхідно подати студентський (аспірантський) квиток або службове посвідчення, дійсне в поточному році.
            Користувачі інших навчальних закладів та установ подають посвідчення, дійсне в поточному році, або паспорт та обслуговуються в читальних залах.
            <br><b>У відділах обслуговування можна:</b>
              <ul>
                <li>
                  ознайомитися з правилами користування бібліотекою;
                </li>
                <li>
                  підписати обхідний лист.
                </li>
              </ul>
            <b>Часи роботи відділів обслуговування читачів:</b><br>
            Понеділок-п'ятниця з 9.00 до 18.00<br>
            Субота (читальні зали) з 10.00 до 16.00<br>
            Остання п'ятниця місяця санітарний день
          </div>
        </div>
      </div>
      <!--Card 2 Що необхідно знати першокурснику-->
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h2 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Що необхідно знати першокурснику
            </button>
              <i class="fa fa-angle-down roll"></i>
          </h2>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
              <p class="block">Основна інформація:</p>
            <ol>
              <li>Читацький формуляр – документ, що надає право користуватися бібліотекою.</li>
              <li> Для отримання видань у будь-якому відділі бібліотеки необхідно заповнити бланк «Вимога на книгу», заздалегідь отримавши інформацію з каталогу бібліотеки.</li>
              <li>Доступ до каталогу можливо здійснити через сайт бібліотеки та безпосередньо у залі електронних каталогів (ауд. А-226), де досвідчені консультанти зможуть надати вам необхідну допомогу щодо пошуку потрібної інформації.</li>
              <li>Для отримання підручників необхідно мати з собою заповнені бланки «Вимога на книгу».</li>
              <li>Пропонуємо ознайомитися зі сторінкою сайта «Рекомендації щодо пошуку інформації».</li>
              <li>Студент зобов’язаний повернути всі книги, що були отримані на абонементі, в кінці навчального року.</li>
              <li>Термін користування бібліотекою продовжується у тому випадку, якщо в минулому навчальному році всі отримані книги вчасно повернули.</li>
              <li>У разі втрати чи пошкодження друкованого видання, отриманого у бібліотеці, користувач повинен замінити його рівноцінним за змістом.</li>
              <li>Просимо Вас дотримуватися правил поведінки у бібліотеці:
              <ul type="circle">
                <li>не виносити видання з приміщень читальних залів;</li>
                <li>дбайливо поводитися з бібліотечними книгами, зйомними носіями інформації та обладнанням;</li>
                <li>дотримуватися тиші під час роботи в читальних залах.</li>
              </ul>
              </li>
            </ol>
          </div>
        </div>
      </div>
      <!--Card 3 Карткові каталоги, картотеки-->
      <div class="card">
        <div class="card-header" id="headingThree">
          <h2 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Карткові каталоги, картотеки
            </button>
              <i class="fa fa-angle-down roll"></i>
          </h2>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
            <h3 class="text-center">АЛФАВІТНИЙ КАТАЛОГ</h3>
              <p class="block"><b>Алфавітний каталог (АК)</b> – бібліотечний каталог, в якому бібліографічні записи розташовуються в порядку прізвищ індивідуальних авторів, найменувань колективних авторів (установ та організацій), або назв документів.</p>
            АК відповідає на питання:
            <ul type="-">
              <li>які книги того або іншого автора є в бібліотеці;</li>
              <li>чи є в бібліотеці книга, автор і назва якої відомі;</li>
              <li>які видання та перевидання даної книги є в бібліотеці.</li>
            </ul>
            <h3 class="text-center" style="padding-top: 1em;">СИСТЕМАТИЧНИЙ КАТАЛОГ</h3>
              <p class="block"><b>Систематичний каталог (СК)</b> – бібліотечний каталог, в якому бібліографічні записи розташовуються по галузях знання у відповідності до бібліотечної системи класифікації. У НТБ ОНАХТ бібліотечна система класифікації УДК– Універсальна десятинна класифікація
            СК складається з двох підсистем: безпосередньо СК та алфавітно-предметного покажчика (АПП) до нього.
            СК розкриває бібліотечний фонд за змістом і відповідає на питання: які книги з певної теми є в бібліотеці.
            Алфавітно–предметний покажчик – допоміжний апарат до СК, що визначає шлях пошуку інформації в СК. АПП – алфавітний перелік предметних рубрик, що розкривають зміст відображених у СК документів із зазначенням відповідних класифікаційних індексів. Картки із зазначенням рубрик розташовані в алфавіті перших слів, наприклад:
            <br>Масло – 637.2
            <br>Молоко – 637.1
              </p>
            <h3 class="text-center" style="padding-top: 1em;">СИСТЕМАТИЧНА  КАРТОТЕКА  СТАТЕЙ</h3>
              <p class="block">Систематична картотека статей базується на аналітичному розписі періодичних видань і видань, що продовжуються. Призначенням картотеки є відображення документів з найбільш актуальних тем харчових технологій.
                  Структура картотеки аналогічна структурі систематичного каталогу.</p>
          </div>
        </div>
      </div>
      <!--Card 4 Електрона доставка документів-->
      <div class="card">
        <div class="card-header" id="headingFour">
          <h2 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
              Електрона доставка документів
            </button>
              <i class="fa fa-angle-down roll"></i>
          </h2>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
            <h3 class="text-center">ЕЛЕКТРОННА ДОСТАВКА ДОКУМЕНТІВ</h3>
              <p class="block"><b>Електронна доставка документів (ЕДД)</b> – сервісна послуга, яка надає можливість користувачам (як юридичним, так і фізичним особам) отримати електронну копію друкованого видання з фонду бібліотеки за допомогою мережі Інтернет.</p>
            Ви можете замовити:
            <ul type="circle">
              <li>копії окремих статей з журналів та збірників обсягом до 15 сторінок;</li>
              <li>копії окремих сторінок, фрагментів або розділів з книг обсягом до 15 сторінок (замовлення на виготовлення копій рідкісних та цінних видань не приймаються);</li>
              <li>копії документів, які не є об’єктами авторського права, і тих, які перейшли в загальне користування.</li>
            </ul>
            <p class="block"><b style="color:red;">Увага!</b>
            Згідно з Законом України «Про авторське право та суміжні права» замовлення приймаються лише на копіювання та доставку окремих опублікованих статей та фрагментів (уривків) з опублікованих друкованих творів. Копіювання документів у повному обсязі <b style="color:red;">НЕ ВИКОНУЄТЬСЯ!</b>
                Дозволяється використовувати отримані копії тільки з метою освіти, навчання та приватного дослідження. Не дозволяється тиражувати отримані копії, відновлювати їх у будь-якій формі, окрім одноразового друку електронного файлу, передавати іншим особам або організаціям. Відповідальність за несанкціоноване використання отриманих від бібліотеки копій документів відповідно до чинного законодавства України несе користувач.</p>
            <h3 class="text-center">Порядок замовлення та надання послуг</h3>
              <p class="block">Для отримання копії документа треба надіслати бланк-замовлення (<a href="../../assets/docs/for_book.doc">Бланк-замовлення на частину тексту з книги</a> чи <a href="../../assets/docs/for_journal.doc">Бланк-замовлення на статтю з журналу</a>) до відділу комплектування (komplib.onaft@ukr.net) бібліотеки електронною поштою, обов’язково вказавши свій e-mail.</p>
              <p class="block"><b style="color:red;">Примітка:</b> на кожен документ заповнюється окремий бланк-замовлення, замовлення у вигляді списку не приймаються.</p>
              <p class="block">У бланку-замовленні необхідно обов’язково вказати бібліографічні відомості про документ: прізвище автора та назву документа; назву джерела, в якому опубліковано матеріал; рік видання; номер журналу; сторінки публікації.
                  Бібліографічні відомості про документи з фонду науково-технічної бібліотеки ОНАХТ можна уточнити за допомогою <a href="http://library.onaft.edu.ua/elc/">Електронного каталогу</a>.</p>
              <p class="block"><b style="color:red;">Примітка:</b> неправильно оформлені бланки-замовлення, в яких відсутні або нерозбірливо вказані відомості, що необхідні для виконання замовлення, повертаються абоненту для уточнення.</p>
              <p class="block">Отримавши замовлення та перевіривши у фонді наявність документа, бібліотека протягом 3-х робочих днів повідомляє про можливість виконання замовлення. Одночасно обговорюються технічні умови виготовлення та пересилання копії.
            Протягом 2-х днів користувач має підтвердити своє замовлення або скасувати його.
                  Копії документів виконуються у форматі PDF i JPG. Термін виконання замовлення – від 2-х до 5-ти робочих днів. Термін виконання замовлень, в яких необхідне бібліографічне доопрацювання, може бути продовжений до 10 робочих днів.</p>
              <p class="block"><b style="color:red;">Примітка:</b> сканування замовлених матеріалів здійснюється лише з видань, формат яких не більше А4.</p>
              <p class="block">Інформація замовнику надсилається в обсязі, що не перевищує 20 Mb (обсяг документа обмежується розміром поштової скриньки).</p>
          </div>
        </div>
      </div>
      <!--Card 5 Що таке УДК?-->
      <div class="card">
        <div class="card-header" id="headingFive">
          <h2 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
              Що таке УДК?
            </button>
              <i class="fa fa-angle-down roll"></i>
          </h2>
        </div>
        <div id="collapseFive" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
            <h3 class="text-center">Як отримати індекс УДК</h3>
            <p class="block">Для опублікування роботи (статті) автору необхідно вказати тематичний розділ (індекс) класифікації УДК, до якого дана робота належить.</p>
            <p class="block"><b>УДК</b> – Універсальна десяткова класифікація – система класифікації інформації. УДК широко використовується в усьому світі для систематизації наукових творів, літератури та мистецтва, періодики, різноманітних видів документів. За УДК можна з’ясувати вид, тип літератури, не читаючи її. Вона призначена для організації бібліотечного фонду, каталогів та картотек.</p>
            <p class="block">Для отримання індексу УДК автору необхідно звернутися до інформаційно-бібліографічного відділу НТБ ОНАХТ (вул. Канатна, 112, головний корпус, 2-й поверх, к. А-229) та надати такі відомості: </p>
            <ol>
              <li>автори роботи (статті);</li>
              <li>назва роботи (статті);</li>
              <li>ключові слова;</li>
              <li>кафедра;</li>
              <li>місце публікації.</li>
            </ol>
            <p class="block">Для самостійного визначення індексу УДК можна скористуватися Інтернет-ресурсами, наприклад:
              <b>Довідник з УДК</b> – <a href="https://teacode.com/online/udc/">teacode.com/online/udc/</a></p>
           </div>
        </div>
      </div>
      <!--Card 6 Обхідний лист-->
      <div class="card">
        <div class="card-header" id="headingSix">
          <h2 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
              Обхідний лист
            </button>
              <i class="fa fa-angle-down roll"></i>
          </h2>
        </div>
        <div id="collapseSix" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
            Бланк  обхідного  листа  потрібно  взяти  у  профільному  деканаті  та  підписати  в  НТБ  у  такій  послідовності:
            <ol>
              <li>Абонемент  художньої  літератури  (ауд. А-415);</li>
              <li>Абонемент  наукової  літератури (ауд. А-137/7);</li>
              <li>Абонемент  навчальної  літератури (ауд. А-137/9).</li>
              <li>Примітка: розташування абонементів див. у пункті "Розташування"</li>
            </ol>
          </div>
        </div>
      </div>
        <!--Card 7 Фахівцям-->
        <div class="card">
            <div class="card-header" id="headingSeven">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                        Фахівцям
                    </button>
                    <i class="fa fa-angle-down roll"></i>
                </h2>
            </div>
            <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
                <div class="card-body">
                    <h3 class="text-center">Фахівцям харчової та переробної промисловості</h3>
                  <p class="block">Дозвольте запропонувати Вам новий спосіб отримання інформації для розвитку Вашого бізнесу в галузі харчових виробництв. Сподіваємось, тепер у Вас не буде необхідності перегортати стоси літератури, годинами просиджувати у «всесвітній мережі», шукаючи відповіді на питання: як розширити асортимент та збільшити термін придатності продукції, який новий ексклюзивний виріб запропонувати ринку, щоб швидко завоювати популярність та перевершити, нарешті, конкурента. Пропонуємо Вам укласти Угоду на отримання оперативної інформації з науково-технічною бібліотекою Одеської національної академії харчових технологій.</p>
                  <p class="block">Бібліотека академії має унікальний фонд літератури з харчових виробництв, починаючи з «класичної» навчальної літератури до найостанніших журнальних публікацій провідних фахівців харчових технологій України ті інших країн. На сьогодні це, наприклад, актуальні питання функціонального, збалансованого харчування, все про продукти нового покоління, харчові волокна та домішки, питання економіки, моніторингу та прогнозування, останні наукові розробки та ін.<br>
                  <a href="../../assets/pdf/foodscience.pdf" target="_blank">Перелік тем з харчових галузей</a></p>
                  <p class="block">Використовуючи багаторічний досвід інформаційного обслуговування викладачів, аспірантів, студентів академії, а також електрону базу даних, ми зможемо забезпечити інформаційну підтримку Вашого виробництва.</p>
                  <h4 class="text-center" style="padding-top: 1em">Найголовніше</h4>
                  <p class="block">Користуючись <a href="http://library.onaft.edu.ua/elc/">пошуковою системою</a> нашого сайту, за ключовими словами Ви з легкістю отримаєте список літератури за темою.</p>
                  <h4 class="text-center" style="padding-top: 1em">АЛЕ!</h4>
                  <p class="block">Ми пропонуємо не лише традиційний бібліографічний список, а й самі матеріали. Статті, глави з книг, публікації Ви отримаєте у зручному для Вас форматі (e-mail, USB-флеш-накопичувач, диск, ксерокопія).<br>
                  <b>ТЕМА = БІБЛІОГРАФІЧНИЙ СПИСОК + МАТЕРІАЛИ</b><br>
                  <a href="../../assets/docs/poriyadok_polucheniya_informacii.docx">Порядок отримання інформації</a></p>
                  <p class="block">
                    Вичерпність інформації, оперативність, якість та індивідуальний підхід до кожного окремо поставленого завдання – гарантуємо. Погодьтесь, пропозиція цікава та вигідна, багато переваг: зекономите час (достатньо визначити тему), матеріали отримаєте безпосередньо та будете в курсі останніх розробок.</p>
                  <p class="block">За більш детальною інформацією звертайтесь до чергового по сайту:<a href="mailto:lib.onaft@gmail.com?subject=Детальна інформація для фахівців"> lib.onaft@gmail.com</a> </p>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
<!--END FAQ section-->